<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <title>ChzGradr</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/main.css" />
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	</head>
	

	<body>
		<div id='Wrapper'>
				<!-- Header -->
			<header id="header">
				<span class="avatar"><img src="images/avatar.jpg" alt="" /></span>
				<h1>This is <strong>ChzGradr</strong><br /> We get you the grades, that get you the <strong>cheddar</strong>.</h1>
			</header>
	    	
	    	{{{body}}}

		</div>

			<!-- Scripts -->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.poptrox.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/main.js"></script>
	</body>

</html>